<h1> My Food Lab </h1>

<div class="container">
<div class="row">


 <% @recipes.each do |recipe| %>
 <div class="col">
  <div class="card" style="width: 18rem;">
     <%= image_tag recipe.image, :class => 'card-img-top' if recipe.image.present? %>
     <div class="card-body">
       <h5 class="card-title"><%= recipe.title %></h5>
       <%= link_to 'View Recipe', recipe_path(recipe.id), :class => 'btn-btn-primary' %>
     </div>
   </div>
   </div>
<% end %>


</div>
</div>
