<h1> <%= @myfood.title %></h1>

<% if flash[:alert].present? %>
 <%= flash[:alert]%>
<% end %>

<% @myfood.recipes.each do |recipe| %>
<ul>
  <li>
<%= link_to recipe.title, recipe_path(recipe) %>
<% if @current_user.present? %>
<%= link_to 'Remove recipe', remove_recipe_path(@myfood.id, recipe.id), :method => 'delete' %>
 <% end %>
</li>
</ul>
<% end %>
